.resume {
  display: flex;
  flex-direction: column;
}
.resume .svg {
  width: 20%;
  margin: 0.5% 3% -1% 3%;
  float: left;
}
.pdf button {
  margin-bottom: 2%;
}
.pdf {
  overflow: hidden;

  margin-top: 5%;
}

.pdf canvas {
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  margin: auto;
  height: auto !important;
}

@media only screen and (max-width: 650px) {
  .pdf button {
    margin-bottom: 6%;
  }
  .pdf canvas {
    width: 90% !important;
  }
  .resume .svg {
    width: 30%;
    margin-top: 3%;
  }
}
