.navbar nav {
  z-index: 2;

  width: 100%;
  display: flex;
}
.navbar {
  z-index: 2;
  display: flex;
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5691c89c,
    #457fca7c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #5691c84f,
    #0359ca59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.349) -10px 10px 10px -10px;
}
.navbar ul {
  display: flex;
  width: 100%;
}
.navbar ul .sidelinks li,
.logo {
  width: 2rem;
  margin: 0 1% 0 1%;
}

.navbar ul .sidelinks {
  width: fit-content;
  justify-content: flex-end;
  margin-left: auto;
}

.logo:hover {
  background-color: unset !important;
}

.navbar ul li button {
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 9px 25px 7px 25px;
}

.navbar ul li {
  border-bottom: 3px solid transparent;
}
.navbar ul li:hover {
  border-bottom: 3px solid #3aadd6;
  background-color: rgba(0, 172, 240, 0.103);
}

.navbar .menuButton:focus,
.navbar .menuButton:hover {
  background-color: #50b5da83;
}

.navbar nav .menuButton {
  display: none;
}
.navbar .backdrop {
  display: none;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
  height: 100vh;
  opacity: 0.5;
}
@media only screen and (max-width: 650px) {
  .navbar.shown .backdrop {
    display: block;
  }
  .navbar nav {
    background: none;
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 2%;
    transition: width 0.5s;
    width: 0;
    flex-direction: column;
    height: 100%;
  }
  .navbar nav .menuButton {
    align-self: start;
    display: block;
    color: whitesmoke;
    background-color: #50b5da83;
    position: fixed;
  }

  .navbar.shown nav .menuButton,
  .navbar.shown nav .menuButton:focus {
    background-color: whitesmoke;
    color: #50b5da7a;
  }
  .navbar.shown nav {
    width: 70%;
    height: 100vh;
    background: #50b5da;
    border-right: 1rem solid rgba(54, 165, 255, 0.808);
    border-style: groove;
  }
  .navbar.shown ul {
    display: block;
  }
  .navbar nav ul {
    width: 80%;
    margin: auto;
    height: 100%;
    display: none;
  }

  .navbar nav ul li {
    margin-top: 9%;
    padding: 3% 0 3% 0;
    border-radius: 15px;
    width: 100%;
    background: rgb(254, 254, 254);
    background: radial-gradient(
      circle,
      rgba(254, 254, 254, 0.5105392498796393) 4%,
      rgba(149, 149, 149, 0.2) 100%
    );
  }

  .navbar nav ul .sidelinks li {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background: rgba(216, 191, 216, 0.39);
  }
  .logo {
    display: none;
  }
  .navbar.shown nav .logo {
    display: block;
    width: 15%;
    bottom: 0;
    padding: 5%;
  }
  .navbar nav ul .sidelinks li {
    padding: 2%;
    margin: 2%;
  }
  .navbar nav ul .sidelinks {
    margin-top: 10%;
    height: fit-content;
    display: flex;
  }
  .logo {
    margin: auto;
  }
  .logo {
    background-color: unset !important;
  }
}

.context {
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  position: absolute;
}
.area {
  width: 100%;
  height: 100vh;
}

.circles {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 140, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
