.about .svg {
  width: 35vh;
  height: 35vh;
  margin: -0.5% 3% -2% 5%;
  float: left;
}

.about {
  min-height: 50vh;
}

@media only screen and (max-width: 650px) {
  .about .svg {
    width: 18vh;
    height: 18vh;
  }
}
