.contact form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact .contactForm {
  width: 50%;
}
.contact .contactForm * {
  height: 90%;
  margin-bottom: 1%;
}
.contact .submitButton {
  width: 50%;
  align-self: center;
}
.succsesText,
.errorText {
  margin: 2% auto auto auto;
  width: 85%;
  display: flex;
  border-radius: 10px;
}
.succsesText {
  background-color: rgba(172, 255, 47, 0.287);
  color: green;
}
.errorText {
  background-color: rgba(255, 38, 0, 0.123);
  color: tomato;
}
.contact .icon {
  font-size: 200%;
  align-self: center;
  margin-right: 2%;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.link {
  color: blue;
}

@media only screen and (max-width: 650px) {
  .contact .contactForm {
    width: 80%;
  }
  .contact .icon {
    font-size: 170%;
  }
}
