.app {
  text-align: center;
}
.section {
  background-color: #cccccc5e;
  border-radius: 1rem;
  margin: 2.5% auto 2.5% auto;
  width: 90%;
  padding: 0.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
svg {
  height: 100%;
  width: 100%;
}
.section p {
  font-size: 140%;
  margin: auto;
  padding: 1% 4% 1% 4%;
  text-align: left;
}
h1,
h2,
h3 {
  color: #3aadd6;
  margin: 0.2%;
  font-family: 'Libre Baskerville', serif;
}
h3 {
  text-align: left;
  font-size: 1.1rem;
  margin: 1% auto 1% auto;
  text-align: center;
  width: fit-content;
  padding: 0.5%;
}
h1 {
  padding: 2%;
  font-size: 5rem;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 1% 0 0 0;
  font-size: 3rem;
}

@media only screen and (max-width: 650px) {
  .section {
    margin-top: 20%;
  }

  .section p {
    font-size: 68%;
  }
  .section h2 {
    font-size: 1.5rem;
  }
  h1 {
    margin-top: 20%;
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    width: 80%;
    font-size: 0.8rem;
  }
}
